
@model HMS.Models.User_Login
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<head>
    <link href="~/css2/stylesheet1.css" rel="stylesheet" />
</head>
@using (Html.BeginForm("UserLogin", "Home", System.Web.Mvc.FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="loginBox">
        <img class="user" src="https://png.pngtree.com/png-vector/20190927/ourlarge/pngtree-medicine-medical-healthcare-symbol-icon-png-image_1749292.jpg" height="100px" width="100px">
        <h3>Sign in here</h3>
        <form action="login.php" method="post">
            <div class="inputBox">
                @Html.TextBoxFor(model => model.username, new { @class = "form-control", required = "Required", @placeholder = "Username" })

                @Html.TextBoxFor(model => model.password, new { @class = "form-control", required = "Required", @placeholder = "Password", @type = "password" })

                <div class="form-group" id="partial">
                    <img src="~/captcha.ashx" height="30px" width="200px" alt="capcha image" />
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.cap, new { @class = "form-control", required = "Required", @placeholder = "Enter Capcha Code", @maxlength = "6" })

                </div>
            </div>
            <input type="submit" name="" value="Login">
            <div class="form-group" style=" color: white">
                @ViewBag.msg
                </div>
</form>
        <a href="#">Forget Password<br> </a>
        <div class="text-center">
            <p style="color: #59238F;">Sign-Up</p>
        </div>

    </div>
}